@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

.body{
  font-family: 'Commissioner',sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.light {

  background-image: 
  conic-gradient(
    from var(--rotate) at 49% 10%,
    #ffffff 30%,
    #0000ff55,
    #ffffff 70%
  );
  background-clip:text;
  font-size: 120px;
  color:transparent;
  animation: rotatelight
             3s ease-in-out infinite
             alternate;
}

@keyframes rotatelight{
  from{
    --rotate: 0.15turn
    }to{
    --rotate: -0.15turn;
    }
}



.soda {
  --left:0px;
  z-index: 2;
  width: 100%; /* Ensure it takes up space */
  height: 100%; /* Ensure it takes up space */
  background: url('./assets/REGAL.png')  var(--left) 0,
              url('./assets/can.png') no-repeat center center;
  background-size: auto 100%; /* or auto, contain depending on your preference */
  width: 178px;
  height:362px;
  background-blend-mode: multiply;
  mask-image:url('./assets/can.png');
  mask-size:auto 100%;
  transition: 0.7s;
}

.soda:hover{

  --left:-500px;
  transform: translateY(-60px);
}