@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

.body{
  font-family: 'Commissioner',sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.light {

  background-image: 
  conic-gradient(
    from var(--rotate) at 49% 10%,
    #ffffff 30%,
    #0000ff55,
    #ffffff 70%
  );
  background-clip:text;
  font-size: 120px;
  color:transparent;
  animation: rotatelight
             3s ease-in-out infinite
             alternate;
}

@keyframes rotatelight{
  from{
    --rotate: 0.15turn
    }to{
    --rotate: -0.15turn;
    }
}
