@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

.body{
  font-family: 'Commissioner',sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradient-text {
  background: linear-gradient(90deg, #ff0000, #000080); /* Initial gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: background-position 0.5s ease;
  background-size: 200% 100%;
  background-position: -100% 0; /* Start position of the gradient */
}

.gradient-text:hover {
   background-position: 100% 0; /* End position of the gradient */
}

.light {
  z-index: 1;
  background-image: 
  conic-gradient(
    from var(--rotate) at 49% 10%,
    #000080 30%,
    #FFFFF055,
    #000080 70%
  );
  background-clip:text;
  font-size: 120px;
  color:transparent;
  animation: rotatelight
             3s ease-in-out infinite
             alternate;
}

@keyframes rotatelight{
  from{
    --rotate: 0.15turn
    }to{
    --rotate: -0.15turn;
    }
}



.soda {
  --left:0px;
  z-index: 3;
  width: 100%; /* Ensure it takes up space */
  height: 100%; /* Ensure it takes up space */
  background: url('./assets/REGAL.png')  var(--left) 0,
              url('./assets/can.png') no-repeat center center;
  background-size: auto 100%; /* or auto, contain depending on your preference */
  width: 200px;
  height:410px;
  background-blend-mode: multiply;
  mask-image:url('./assets/can.png');
  mask-size:auto 100%;
  transition: 0.7s;
}

.soda:hover{
  
  --left:-500px;
  transform: translateY(-60px);
}
.stage {
  position: absolute; 
  bottom: 43px; 
  left: 12%; 
  z-index: 2; 
  width: 360px; 
  height: 131px;
  background: url('./assets/stage.png') no-repeat center center;
  background-size: cover; 
  transition: transform 0.7s;
}

.container:hover .stage{
  transform:translateY(10px);
}

.hover-text {
    font-family: 'Commissioner',sans-serif;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 50px;
    color: #000080; 
    z-index: 3;

}



.hover-sub{
    font-family: 'Commissioner',sans-serif;
    transform: translateX(-10px);
    font-weight: 100;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 20px;
    color: #000080; 
    z-index: 3;  
}

.anim {
  opacity: 0;

}

.container:hover + .anim{
  opacity: 0.8;
  transform: translateX(0px);
}

.mina{
  z-index: 4;
  opacity: 1;
}

.container:hover + .mina{
  opacity: 0;
  transform: translateX(0px);
}